<!doctype html>
<html>
<head>
  <!-- REDIRECT SCRIPT -->
  {{{contents}}}
  {{> head sectionTitle='Start'}}
</head>
<body>

  <div id="docs">
    {{> header}}

    <div class='getting-started'>
      <h1 class="choose-device-header">Welcome to the OSBH Docs</h1>
      </div>
    </div>
  </div>
</body>
</html>
